<% include partial/header %>


    <div class="container">
        <div class="column">
            <h1 style="text-align: center">Create New CampGround</h1>

            <br>

            <div style="width: 30%; margin: 0 auto;">
                <form action="/campgrounds" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="name" name="name" id="">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="image-url" name="image" id="">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg bt-default btn-block">Submit !</button>
                    </div>
                    
                    
                </form>
            </div>
            
            <br>

            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds">Back to CampGround</a>
            </p>
        </div>
        
    </div>
 
    
    
    
<% include partial/footer %>

