<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/all.css">
    
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="homepage.css">
    <title>HOMEPAGE</title>
    
</head>
<body>

    <!-- <div id="header">
        <div id="menu-logo">
            <a href="/"> <p id="heading"> MustDoFiz.com </p> </a>
        </div>        
        <div id="nav">
            <ul>
                <a href=""> <li>HOME</li> </a>
                <a href=""> <li>Blog</li> </a>
                <a href=""> <li>about us</li> </a>
                <a href=""> <li>contact us</li> </a>
            </ul>
        </div>
    </div> -->


    <!-- <nav class="navbar navbar-expand-sm">
        <div class="container-fluid" >
            <div class="navbar-header" >
                <a href="/" class="navbar-brand">YelpCamp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right ml-auto">
                    <li><a class="nav-link" href="/">Login</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/">Sign Up</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav> -->

  

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<div class="container">	
			<a class="navbar-brand" href="/">YelpCamp</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
		
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="nav navbar-nav ml-auto text-center">
				<li class="nav-item active">
				<a class="nav-link" href="/">Login <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/">SignUp <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/">LogOut <span class="sr-only">(current)</span></a>
				</li>
				<!-- <li class="nav-item">
				<a class="nav-link" href="#">Link</a>
				</li> -->
				<!-- <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
				</li> -->
				<!-- <li class="nav-item">
				<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
				</li> -->
			</ul>
			<!-- <form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form> -->
			</div>
		</div>
      </nav>